 <p>コマリゴトフォーム</p>

    
      <p>今、一番のコマリゴトは以下の中にあげているものの中でもっとも近いものはなんでしょうか？</p>

    <%= f.label :"属性選択" %><br>
<!--問題の分類-->
  <%= f.select :subject, [["資産が活用できていない", "資産が活用できていない"], ["効率が悪い", "効率が悪い"],["人の手が足りない", "人の手が足りない"], ["営業力が足りない", "営業力が足りない"], ["賑やかしが足りない", "賑やかしが足りない"], ["継承者がいない", "継承者がいない"], ["お祭り", "お祭り"], ["その他", "その他"]] ,class:"form-control" %>
<!--問題を解決してほしい方向性-->
  <%= f.select :subject,[["先端技術の活用", "先端技術の活用"], ["マンパワーの提供", "マンパワーの提供"], ["数値の管理", "数値の管理"], ["目標の設定", "目標の設定"], ["目標の設定", "目標の設定"]] ,class:"form-control" %>
<!--守りたい地域性1-->
  <%= f.select :subject,[["自然環境", "自然環境"], ["歴史・文化の継承", "歴史・文化の継承"], ["言葉", "言葉"], ["清潔さ", "清潔さ"], ["景観", "景観"] ,["治安", "治安"],["時間の流れ", "時間の流れ"],["人の穏やかさ", "人の穏やかさ"]] ,class:"form-control" %>
<!--守りたい地域性2-->
  <%= f.select :subject,[["自然環境", "自然環境"], ["歴史・文化の継承", "歴史・文化の継承"], ["言葉", "言葉"], ["清潔さ", "清潔さ"], ["景観", "景観"] ,["治安", "治安"],["時間の流れ", "時間の流れ"],["人の穏やかさ", "人の穏やかさ"]] ,class:"form-control" %>
<!--守りたい地域性3-->
  <%= f.select :subject,[["自然環境", "自然環境"], ["歴史・文化の継承", "歴史・文化の継承"], ["言葉", "言葉"], ["清潔さ", "清潔さ"], ["景観", "景観"] ,["治安", "治安"],["時間の流れ", "時間の流れ"],["人の穏やかさ", "人の穏やかさ"]] ,class:"form-control" %>


 <p>今の事業の概要を教えて下さい</p>
 <p>営業系の課題</p> 
  <p>課題にしている分野について概要を教えてください</p>
      <div style="padding: 10px; margin-left: 0%; margin-bottom: 10px; border: 1px solid #333333; border-radius: 10px;">
          <p>文字制限100字以内</p>　 
      </div>

<p>いつ頃から課題に気づきましたか？またその時期に何か変化がありましたか？</p>
      <div style="padding: 10px; margin-left: 0%; margin-bottom: 10px; border: 1px solid #333333; border-radius: 10px;">
          <p>文字制限100字以内</p>　 
      </div>

  <p>課題を解決した時の理想の状態について、イメージしていることがあれば教えてください</p>
      <div style="padding: 10px; margin-left: 0%; margin-bottom: 10px; border: 1px solid #333333; border-radius: 10px;">
          <p>文字制限100字以内</p>　 
      </div>

    <p>解決策を検討する上で参考となるような事例があれば教えてください</p>
      <div style="padding: 10px; margin-left: 0%; margin-bottom: 10px; border: 1px solid #333333; border-radius: 10px;">
          <p>200字以内</p> 
      </div>


[送信]